*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #060b23;
    display: flex;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
}

.contenido_input{
    position: relative;
}

.contenido_input input{
    width: 350px;
    height: 60px;
    border-radius: 20px;
    border: none;
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
    outline: none;
    padding: 0 15px;
    font-size: 18px;
}

.contenido_input label{
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    font-size: 19px;
    color: #fff;
    transition: .3s;
    pointer-events: none;
}

input:focus ~ label{
    top: 0;
    padding: 0 2px;
    left: 15px;
    font-size: 16px;
    background: #060b23;
}